.container{
    position: relative;
    z-index: 1;
    background: #f88a41;
    max-width: 360px;
    margin: 0 auto 10px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#titulo{
    color: rgb(66, 46, 11);
    font-family: Verdana;
    font-size: 18px;
    position: relative; bottom: 10px; right: 30px;
    font-weight: bold;
}

.form{
    position: relative;
    z-index: 1;
    background: #fffefd;
    max-width: 360px;
    margin: 0 auto 10px;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.comborda{
    border: 1px solid black;
    max-width: 250px;
    position: relative; bottom: 1px; left: 30px;
    padding-top: 10px;
 
}

.form1{
    margin-bottom: 30px;
    
}


#select{
    font-weight: bolder;
    font-size-adjust: initial;
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none; /* Remove estilo padrão do FireFox */
    appearance: none; /* Remove estilo padrão do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;  /* Imagem de fundo (Seta) */
    background-position: 218px center;  /*Posição da imagem do background*/
    width: 250px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:35px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border:2px solid rgb(112, 109, 109);
    position: relative; bottom: 9px; left: 25px;
 }

#btn{
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 12x;
    position: relative; top: 1px; left: 95px;
 }

#table2{
    position: relative; bottom: 1px; left: 40px;
    font: 100% sans-serif;
    background-color: rgb(245, 249, 245);
    border-collapse: collapse;
    empty-cells: show;
    border: 2px solid rgb(2, 2, 2);
    text-align: center;
    font-weight: bold;

}


.tabela1 {
        border: 1px solid #999;
        padding: 1px;
        border-collapse: collapse;
    }

